* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E77471;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    color: white;
    overflow-x: hidden;
}

.preload {
    position: absolute;
    left: 0;
    top: 0;
    visibility: hidden;
}

.content {
    margin: 2vh 10vw 2vh 10vw;    
}

h1 {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;    
}

hr {
    border-bottom: 6px dashed white;
    border-top: none;
    border-left: none;
    border-right: none;
}

.subtitle-seperator {
    margin-bottom: 10px;
}

.counter-container {
    text-align: center; 
    font-weight: bold;
    margin: 64px 0;
}

.counter-container > p {
    text-shadow: #E77471 0 0 10px,#E77471 0 0 10px,#E77471 0 0 10px,#E77471 0 0 10px,#E77471 0 0 10px;
}

.counter {
    color: #574f84;
    font-size: 2em;
}

.counter-button {
    background-color: #574f84;
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    margin-top: 16px;
}

.counter-button:hover {
    background-color: #2d2463;
}

.gallery-title {
    margin-bottom: 10px;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.grid-item {
    width: calc(100% / 6 - 10px);
    margin: 10px 5px 0 5px;
}
  
.twitter-img {    
    vertical-align: middle;
    width: 100%;
    border-radius: 16px;
}

.footer {
    background-color: white;
    color: black;
    text-align: center;
    padding: 15px 10vw;
}

@media screen and (max-width: 2240px) {
    .grid-item {
        width: calc(20% - 10px);
    }
}

@media screen and (max-width: 1920px) {
    .grid-item {
        width: calc(25% - 10px);
    }
}

@media screen and (max-width: 1512px) {
    body {
        font-size: 1.25em;
    }

    .subtitle-seperator {    
        margin-top: 3px;
        margin-bottom: 11px;
    }
}

@media screen and (max-width: 1280px) {
    .grid-item {
        width: calc(100% / 3 - 10px);
    }
}

@media screen and (max-width: 1265px) {
    body {
        font-size: 1em;
    }

    .subtitle-seperator {    
        margin-top: 6px;
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 854px) {
    .grid-item {
        width: calc(50% - 10px);
    }
}

@media screen and (max-width: 510px) {
    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.25em;
    }

    .subtitle-seperator {    
        margin-top: 8px;
        margin-bottom: 13px;
    }
}

@media screen and (max-width: 500px) {
    .grid-item {
        width: calc(100% - 10px);
    }
}

@media screen and (max-width: 430px) {
    h1 {
        font-size: 2em;
    }

    .subtitle-seperator {    
        margin-top: 10px;
    }
}